<div class="{{ page.header.class.container}}">
    <div class="row">
        <div class="{{page.header.class.content | default('col-sm-12')}}">
            <div class="column-wrapper">{{ content }}</div>                
        </div>
    </div> 
</div>

