{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="container">
	{% if page.header.sidebar == 'none' %}
		{{ page.content }}
	{% else%}
		<div class="row">
			<div class="{{page.header.contentClass|default('col-md-8')}}">
				{{page.content}}
                {% include "forms/form.html.twig" %}
			</div>
			<div class="{{page.header.sidebarClass|default('col-md-4')}}">
				<h2>Sidebar</h2>
			</div>
		</div>	
	{% endif %}
        
    </div>
{% endblock %}
